.container {
  // width: 290px;
  width: max-content;
  height: 80vh;
  overflow-y: auto;
  margin-right: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 0px 40px 20px 12px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
