.card {
  width: 240px;
  height: 370px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 5px 1px #efeeee;
  position: relative; // під питанням
  border: 1px solid #e5e5e5;
  background-color: #fff;
  box-sizing: border-box;

  .card-image {
    width: max-content;
    height: max-content;
    img {
      width: 240px;
      height: 200px;
      background-size: cover;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
  }

  .card-content-wrapper {
    background-color: #fff;
    padding: 12px;
    height: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    .card-title {
      display: flex;
      gap: 6px;
      flex-direction: column;
      margin-bottom: 5px;

      p {
        overflow: hidden;
        text-align: start;
        margin: 0;
      }
      .title {
        font-weight: 600;
        font-size: 1rem;
      }

      div {
        display: flex;
        div {
          background-image: url('../../assets/emty_rating.svg');
          width: 20px;
          height: 20px;
        }
      }
    }

    .card-price {
      text-align: start;

      p {
        margin: 0px;
      }

      .text-price {
        font-size: 0.75rem;
        color: rgba(64, 75, 105, 0.6);
      }

      .price {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 5px;
      }

      .geo-code-wrapper {
        display: flex;
        flex-direction: column;
        // gap: 10px;

        // .geo-icon {
        //   background-image: url('../../assets/active-icon.png');
        //   width: 20px;
        //   height: 25px;
        //   background-size: cover;
        //   margin-right: 15px;
        // }

        p {
          color: blue;
          overflow: hidden;
        }
      }
    }
  }
}
