form {
  max-width: 400px;
  margin: 0 auto;
  margin-right: 40px;
  border: 1px solid #000;
  border-radius: 10px;
  height: max-content;
  background-color: rgba(255, 255, 255, 0.87);

  legend {
    font-size: 1.3rem;
    padding-top: 10px;
  }

  div {
    .input--margin {
      margin-top: 0;
    }

    label {
      display: block;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    input {
      width: 80%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 6px;
      box-sizing: border-box;

      &:focus {
        outline: none;
        border-color: #6cb2eb;
      }
    }

    div {
      color: #ff0000;
      font-size: 12px;
      margin-top: 3px;
    }
  }

  .geodata-wrapper {
    p {
      padding: 0 10px;
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      margin: 0 0 10px 0;
    }

    .active-btn {
      background-color: blue;
      margin-bottom: 2px;
    }
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;

    &:hover {
      background-color: #45a049;
    }
  }
}
