.leaflet-container {
  width: 70vw;
  height: 85vh;
  border-radius: 24px;
  // position: fixed;
}

.cluster-icon {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 0, 1) 50%,
    rgb(0, 157, 255) 50%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.5rem;
  color: #000;
}
// .leaflet-popup {
//   position: absolute;
//   left: -1px !important;
//   top: -1px;
//   // bottom: 0;
//   width: 240px;
//   height: 370px;
//   // background-color: #000;
// }

// .leaflet-popup-content-wrapper {
//   width: min-content;
//   height: min-content;
//   background-color: #000;
// }

// .leaflet-popup-content {
//   border-radius: 10px;
//   margin: 0 0 5px 0;
//   background-color: #000;
// }
